<ng-container *ngIf="vm$ | async as vm">
  <table>
    <thead>
      <ng-container *ngIf="vm.headerDef">
        <ng-container *ngTemplateOutlet="vm.headerDef.templateRef; context: {$implicit: vm.columns}"></ng-container>
      </ng-container>
    </thead>
    <tbody>
      <ng-template ngFor let-data let-i="index" [ngForOf]="vm.filteredValues">
        <ng-container *ngIf="vm.rowDef">
          <ng-container *ngTemplateOutlet="vm.rowDef.templateRef; context: {$implicit: data, dataIndex: i, columns: vm.columns}"></ng-container>
        </ng-container>
      </ng-template>
    </tbody>
  </table>
</ng-container>
