<ng-container *ngIf="{ sortDirection: sortDirection$ | async, sortField: sortField$ | async } as sortable">
  <fa-icon [icon]="upIcon" *ngIf="sortable.sortDirection === 1 && sortable.sortField === field"></fa-icon>
  <fa-icon [icon]="downIcon" *ngIf="sortable.sortDirection === -1 && sortable.sortField === field"></fa-icon>
</ng-container>