<ng-container *ngIf="deck$ | async as deck">
  <div class="caption">
    <input type="text" [disabled]="deck.loading" placeholder="Search" (input)="dt.filter($event.target)">
    <div>
      <button class="button" [disabled]="deck.loading || deck.deck?.remaining === 0" (click)="drawCardsOnClick()">
        Draw Cards
      </button>
      <small style="margin-left: 3px;">Cards Left: {{deck.deck?.remaining}}</small>
    </div>
  </div>
  
  <bu-datatable #dt [columns]="allColumns" [values]="deck.deck?.cards" class="table" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dt.colDrop($event)">
    <!--The template for the header row-->
    <ng-template buHeaderDef="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <!-- Do not allow sorting for code-->
          <th *ngIf="col.field === 'code'" cdkDrag cdkDragLockAxis="x">{{col.title}}</th>
          
          <!-- Allow sorting for other columns -->
          <th *ngIf="col.field !== 'code'" [buSortableColumn]="col" cdkDrag cdkDragLockAxis="x">{{col.title}} <bu-column-sort-icon [field]="col.field"></bu-column-sort-icon></th>
        </ng-container>
      </tr>
    </ng-template>
  
    <!--The template for the data row-->
    <ng-template buRowDef="row" let-data let-dataIndex="dataIndex" let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{data[col.field]}}
        </td>
      </tr>
    </ng-template>
  </bu-datatable>
  
  <div style="display: flex; justify-content: center; align-items: center;">
    <ng-container *ngIf="!deck.deck?.cards">
      <p>No cards drawn...</p>
    </ng-container>
    <ng-container *ngIf="deck.error">
      <p style="color:red">An error occured while fetching the deck...</p>
    </ng-container>
    <ng-container *ngIf="deck.loading">
      <fa-icon [icon]="spinner" [spin]="true" size="2x"></fa-icon>
    </ng-container>
  </div>
</ng-container>