/* You can add global styles to this file, and also import other style files */

$tableBorder: #bebebe;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  margin-top: 50px;
}

.caption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
  }
}

table {
  border-collapse: collapse;
}

.table {
  display: block;
  max-width: 100%;
  background-color: transparent;

  thead th {
    font-weight: bold;
    vertical-align: bottom;
    text-align: inherit;
    border-bottom: 2px solid $tableBorder;
    width: 150px;
  }

  th,
  td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid $tableBorder;
  }
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  &:hover {
    background-color: #0069d9;
    
  }

  &:disabled {
    color: #fff;
    background-color: #a4cdfa;
    border-color: #a4cdfa;
  }
}


.bu-sortable-column {
  cursor: pointer;
}
